OJBetter_Bridge/cpp_workspace/*.cpp
OJBetter_Bridge/java_workspace/hello/src/*.java
OJBetter_Bridge/java_workspace/.metadata
OJBetter_Bridge/jdt-language-server
OJBetter_Bridge/python_workspace/*.py
OJBetter_Bridge/pylsp_jsonrpc
OJBetter_Bridge/server_gui.exe
tools
!tools/
tools/*
!tools/unit/
tools/unit/*
!tools/unit/test/
tools/unit/test/*
!tools/unit/test/replaceOriginal/
tools/unit/test/replaceOriginal/*
!tools/unit/test/replaceOriginal/index.node.js
!tools/unit/test/openai/
!tools/unit/test/openai/index.node.js
!tools/unit/test/edge/
!tools/unit/test/edge/index.node.js
!tools/unit/test/codeforcesMathJax/
!tools/unit/test/codeforcesMathJax/index.node.js
!tools/unit/test/contextMenu/
!tools/unit/test/contextMenu/index.test.js
